@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 452px;
  }

  .header {
    position: static;
  }

  .header-inner {
    justify-content: space-between;
    margin: 10px;
    width: calc(100vw - 20px);
  }

  .header-inner > .menu-toggle {
    color: #FFFFFF;
  }

  .assets-stats-section {
    flex-direction: column;
    margin: 10px auto;
    padding: 15px;
    width: 100%;
  }

  .asset-stats-block {
    margin-bottom: 20px;
    width: 100%;
  }

  .landing-partners {
    width: 100%;
  }

  .landing-partners > .partners-logos {
    flex-direction: column;
  }

  .landing-partners > .partners-logos img {
    margin-bottom: 20px;
  }

  .footer > .footer-inner {
    flex-direction: column;
    height: auto;
    padding: 15px;
    width: 100%;
  }

  .footer-inner > .footer-info-links {
    width: 100%;
  }

  .footer-social-links {
    margin: 20px auto;
  }
}
