@media only screen and (max-width: 768px) {
  body {
    padding-bottom: 552px;
  }

  .header {
    position: static;
  }

  .header-inner {
    justify-content: space-between;
    margin: 10px;
    width: calc(100vw - 20px);
  }

  .header-inner > .menu-toggle {
    color: #FFFFFF;
  }

  .assets-stats-section {
    flex-direction: column;
    margin: 10px auto;
    padding: 10px;
    width: 100%;
  }

  .asset-stats-block {
    margin-bottom: 20px;
    width: 100%;
  }

  .asset-stats-table {
    border: none;
    background: #1C1C1C;
    margin: 15px;
    width: calc(100% - 30px);
  }

  .asset-stats-table i.fa-angle-down {
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px;
    position: absolute;
    right: 0;
  }

  .asset-stats-table .table-title-row {
    border-top: 1px solid #282828;
    border-radius: 4px 4px 0 0;
  }

  .asset-stats-table .row {
    align-items: center;
    display: flex;
  }

  .asset-stats-table .main-row {
    justify-content: space-between;
    border-bottom: 1px solid #282828;
    border-left: 1px solid #282828;
    border-right: 1px solid #282828;
    padding-right: 15px;
    position: relative;
  }

  .asset-stats-table .expanded-rows {
    background: #333333;
    border: 1px solid rgba(80,200,240,0.50);
  }

  .asset-stats-table .expanded-rows .main-row {
    border-bottom-color: #414141;
    border-left: none;
    border-right: none;
  }

  .asset-stats-table .start-trading-button {
    background: #787878;
    box-shadow: 0 2px 0 0 rgba(0,0,0,0.40), 0 2px 1px 0 rgba(0,0,0,0.60), 0 3px 3px 1px rgba(0,0,0,0.10);
    border-radius: 4px;
    color: #FFFFFF;
    display: block;
    font-family: SourceSansPro-Bold;
    font-size: 14px;
    margin: 5px auto 10px;
    padding: 9px 15px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 150px;
  }

  .asset-stats-table .asset-name {
    width: 100%;
  }

  .asset-stats-table .column-title {
    padding: 10px;
  }

  .asset-stats-table .column-data {
    border-top: none;
    padding: 10px;
  }

  .asset-stats-table .asset-icon {
    padding-right: 0;
  }

  .asset-stats-table .asset-category {
    width: auto;
  }

  .landing-partners {
    margin: 35px auto;
    width: 100%;
  }

  .landing-partners > .partners-logos {
    flex-direction: column;
  }

  .landing-partners > .partners-logos img {
    margin-bottom: 20px;
  }

  .footer > .footer-inner {
    flex-direction: column;
    height: auto;
    padding: 0 15px;
    width: 100%;
  }

  .footer-info-links {
    align-items: center;
    flex-direction: column;
    margin-top: 45px;
    width: 100%;
  }

  .footer-info-links .row {
    display: flex;
    flex-direction: row;
    width: 100%;
  }

  .footer-info-links .col {
    align-items: center;
    width: 50%;
  }

  .footer-info-links a {
    margin-bottom: 35px;
  }

  .footer-social-links {
    margin: 35px auto 15px;
  }

  .footer-social-links > a {
    margin: 0 5px;
  }

  .footer-copyrigh-info {
    text-align: center;
  }

  .footer-inner > .footer-subscribtion {
    margin-top: 25px;
  }

  .footer-subscribtion p {
    text-align: center;
    margin-bottom: 20px;
  }

  .footer-subscribe-form input {
    min-width: 150px;
    max-width: calc(65vw - 30px);
  }
}
